* {
    background: silver;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#image-list li {
    list-style: none;
    position: relative;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}

#image-list h2 {

}

#image-list img {
    width: 90%;
    /* padding: 10px; */
    border-radius: 45px;
}